/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

label {
  display: block;
}

input {
  width: 100%;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.car-border {
  border-width: thick;
  border-style: solid;
}

.car-img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.car-form-img {
  max-height: 80dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}